.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: url("https://images.unsplash.com/photo-1500417148159-68083bd7333a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2938&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 5em;
  /* display: flex; 
  justify-content: center; */
  text-align: center;
}

.myName {
  overflow: hidden;
  border-right: .15em solid deeppink;
  white-space: nowrap;
  font-size: 4rem;
  width: 0;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 2.5s steps(20, end) forwards, blink-caret .75s step-end infinite;
  font-family: 'Cinzel Decorative', cursive;
  
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.container {
   display: inline-block; 
   
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:deeppink}
}

.landingPage {
  border: 4px solid white;
  padding: 10px;
  width: 42em;
  height: 30em;
  float: right;
  margin-right: 80px;
  margin-top: 80px;
}

.hello {
  color: white;
  font-family: 'Poiret One', cursive;
  margin-top: 70px;
  font-size: 110px;
  font-weight: bolder;
  line-height: 60%;
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Arizonia&family=Bad+Script&family=Marck+Script&family=Poiret+One&display=swap'); /* Hello Font */

.name {
  font-size: 70px;
  color: white;
  font-family: 'Poiret One', cursive;
  line-height: 50%;
}

.jobTitle {
  font-size: 40px;
  color: white;
  font-family: 'Poiret One', cursive;
  overflow: hidden; /* Hide the text until it is revealed */
  border-right: 0.15em solid #000; /* Add a blinking cursor effect */
  white-space: nowrap; /* Prevent line breaks */
  letter-spacing: 0.15em; /* Add spacing between letters */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Define the animation */
@keyframes typing {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 100%; /* Gradually reveal the text */
  }
}

/* Define the blinking cursor animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.landingButton {
  border-radius: 5px;
  font-size: 40px;
  background-color:slateblue;
  font-family: 'Italiana', serif;
  border-color: white;
  border-width: 2.5px;
  color: white;
  font-weight: bolder;
  padding: 10px;
  width: 4em;
} 

@import url('https://fonts.googleapis.com/css2?family=Copse&family=Italiana&display=swap');